<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.xianglin.fellowvillager.app"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



    <!-- jpush 一些系统要求的权限 -->
    <uses-permission android:name="com.xianglin.fellowvillager.app.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 高德地图 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- 基本权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <!-- 读取手机位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".XLApplication"
        tools:replace="android:allowBackup"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.login.LaunchActivity_"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent">
            <!-- theme:解决打开应用时黑屏的问题 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity_"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="jpush.testAction" />

                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ChatMainActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".chat.PhotoSelectorActivity"
            android:label="图片选择"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.PhotoPreviewActivity"
            android:label="图片选择" />
        <activity
            android:name=".activity.group.GroupMemberActivity_"
            android:label="群组详情" />
        <activity
            android:name=".activity.group.GroupAddMemberActivity_"
            android:label="群添加" />
        <activity
            android:name=".activity.WebviewActivity_"
            android:label="浏览" />
        <activity
            android:name=".activity.login.RegisterAcitvity_"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".activity.group.GroupManagerActivity_" />
        <activity android:name=".activity.login.TestActivity_" />
        <activity
            android:name=".activity.login.SetUserNameActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.widget.AlbumActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chat.ChatSecretSetActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CommonChooseActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activity.NearbyBaseActivity_"/>
        <activity android:name=".chat.ShowBigImageActivity_"/>
        <activity android:name=".activity.group.GroupInformationActivity_"/>
        <activity android:name=".activity.SelectBusinessCard_"/>
        <activity android:name=".activity.NewCardActivity_"/>
        <activity android:name=".activity.PersonDetailActivity_"/>
        <activity android:name=".activity.AllVisitingCodeActivity_"/>
        <activity android:name=".activity.SpecificVisitingCodeActivity_"/>
        <activity android:name=".activity.group.GroupVisitingCodeActivity_"/>
        <activity android:name=".activity.UserDetailBeforeChatActivity_"/>
        <activity android:name=".activity.UserInfoEditActivity_"/>
        <activity android:name=".activity.UserEditRemarkActivity_"/>
        <activity android:name=".chat.ShowGifImageActivity_" />
        <activity android:name=".activity.personal.PersonalInfoActivity_"/>
        <activity android:name=".activity.personal.PersonalInfoEditActivity_"/>
        <activity android:name=".activity.personal.QRCodeActivity_"/>
        <activity android:name=".activity.personal.SettingActivity_"/>
        <activity android:name=".activity.personal.HeaderSetActivity_"/>
        <activity android:name=".activity.personal.SexSelectActivity_"/>
        <activity android:name=".activity.personal.BlackListActivity_"/>
        <activity
            android:name=".activity.SwitchFigureActivity"
            android:theme="@style/MarkLayerDialogStyle"/>
        <activity android:name=".activity.AddFriendsActivity_"/>
        <activity android:name=".activity.NewContactActivity_"/>
        <activity android:name=".activity.group.GroupListInContactActivity_"/>
        <activity android:name=".activity.ChooseRoleActivity_"/>
        <activity android:name=".activity.SameContactActivity_"/>
        <activity android:name=".activity.SameGroupActivity_"/>



        <activity
            android:name=".activity.group.GroupSetNameActivity_"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity android:name=".utils.crop.CropImageActivity" />



        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 通知 receiver -->
        <receiver android:name=".receiver.NoticeReceiver">
            <intent-filter>
                <action android:name="com.xianglin.fellowvillager.app.Receiver.NoticeReceiver" />
            </intent-filter>
        </receiver>


        <!-- LongLink Begin -->
        <service
            android:name=".longlink.longlink.service.LongLinkService"
            android:persistent="true"
            android:process="com.xianglin.fellowvillager.app.longlink.longlink.service">
            <intent-filter>
                <action android:name="com.xianglin.fellowvillager.app.longlink.longlink.service" />
            </intent-filter>
        </service>

        <!-- 网络监听 receiver -->
        <receiver android:name=".longlink.receiver.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".longlink.longlink.service.LongLinkActionReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".longlink.receiver.LongLinkConnectHandlerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LONGLINKCONNECTHANDLER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".longlink.receiver.ScreenReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.screen_off" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- LongLink End -->


        <!-- jpush Begin -->
        <permission
            android:name="com.xianglin.fellowvillager.app.permission.JPUSH_MESSAGE"
            android:protectionLevel="signature" />

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.xianglin.fellowvillager.app" />
            </intent-filter>
        </activity>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.xianglin.fellowvillager.app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- jpush SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.xianglin.fellowvillager.app" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.xianglin.fellowvillager.app" />
            </intent-filter>
        </service>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="2b65be63da865615e5914be7" />

        <!-- jpush End -->


        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_LOCATION_KEY}" />
        <meta-data
            android:name="XL_ENV"
            android:value="${XL_ENV_VALUE}" />
        <meta-data
            android:name="XL_DB_VER"
            android:value="${XL_DB_VER_VALUE}" />
        <meta-data
            android:name="UM_APP_KEY"
            android:value="${UM_APP_KEY_VALUE}" />
        <meta-data
            android:name="UM_CHANNEL_NAME"
            android:value="${UM_CHANNEL_NAME_VALUE}" />


    </application>

</manifest>
